.App {
  font-family: sans-serif;
  text-align: center;
}

.card-container {
  width: 350px;
  border: 1px solid;
  margin: 8px;
  align-self: stretch;
  padding: 4px;
  border-radius: 3px;
  background-color: cornsilk;
  box-shadow: 0 4px 8px 0 rgba(218, 18, 18, 0.2);
  display: flex-wrap;
  
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.word-break {
  word-break: break-word;
  
}
